/* Generales */
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/* encabezado */
header {
	background-image: url('../img/bg.png');
	color: #fff;
	padding: 10px 0;
	box-shadow: 0px 1px 3px #666;
	position: relative;
	z-index: 10;
}

div.ancho {
	width: 100%;
	margin: 0px auto;
	padding: 0px 10px;
}

header h2 {
	margin: 0px;
	float: left;
	font-size: 20px;
	line-height: 26px;
}

header nav {
	float: right;
	background-color: #fff;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	-ms-box-shadow: 1px 1px 10px #933;
	-moz-box-shadow: 1px 1px 10px #933;
	-webkit-box-shadow: 1px 1px 10px #933;
	-o-box-shadow: 1px 1px 10px #933;
	box-shadow: 1px 1px 10px #933;
}

header nav a {
	text-decoration: none;
	color: #00f;
	font-size: 14px;
	padding: 0px 3px;
	border-bottom: 2px solid #fff;
	transition: 500ms;
}

header nav a:hover {
	border-bottom: 2px solid #00f;
	color: #00f;
	text-decoration: none;
}

header nav a.activo {
	border-bottom: 2px solid #00f;
}

/* contenido */
div.contenido {
	background-color: #eee;
	padding-top: 1px;
	padding-bottom: 1px;
}

div.contenido section {
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px;
	-ms-box-shadow: 3px 3px 6px #999;
	-moz-box-shadow: 3px 3px 6px #999;
	-webkit-box-shadow: 3px 3px 6px #999;
	-o-box-shadow: 3px 3px 6px #999;
	box-shadow: 3px 3px 6px #999;
}

div.contenido div.titulo {
	border-bottom: 1px solid #ccc;
}

div.contenido h2 {
	margin: 0px;
	font-size: 24px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	float: left;
}

div.contenido a.nuevo {
	float: right;
	background-color: #060;
	color: #ccc;
	padding: 5px 10px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	transition: 300ms;
}

div.contenido a.nuevo:hover {
	color: #fff;
	background-color: #070;
}

div.contenido table {
	width: 100%;
	margin: 10px 0px;
	font-size: 14px;
}

div.contenido th {
	background-color: #333;
	color: #eee;
	padding: 3px;
}

div.contenido tr {
	border: 1px solid #ddd;
}

div.contenido td {
	padding: 3px;
}

div.contenido tr:nth-child(odd) {
	background-color: #eee;
}

div.contenido a {
	display: inline-block;
	background-color: #060;
	border-radius: 3px;
	padding: 0px 3px;
	color: #ccc;
}

div.contenido a:hover {
	background-color: #070;
	color: #fff;
	text-decoration: none;
}

/* nuevo producto */
form {
	margin: 10px;
	font-size: 14px;
}

form input {
	border-radius: 3px;
	border: 1px solid #999;
	margin-bottom: 10px;
}

form input.submit {
	background-color: #060;
	color: #ddd;
	margin-left: 15px;
}

form input.submit:hover {
	background-color: #070;
	color: #fff;
}

/* Pié */
footer {
	background-color: #333;
	padding: 10px;
	color: #ddd;
	font-size: 12px;
	text-align: center;
}

footer p {
	margin: 0px;
}

footer a {
	color: #f90;
}

/* Varios */
div.reset {
	clear: both;
}

/* Media querys */
@media screen and (min-width: 1024px) {
	div.ancho {
		width: 80%;
	}
}

@media screen and (min-width: 1368px) {
	div.ancho {
		width: 70%;
	}
}

@media screen and (min-width: 1600px) {
	div.ancho {
		width: 60%;
	}
}
